/js/node_modules
/js/package-lock.json
/messageJsons
/py/__pycache__
/py/__pycache__/nlpFunc.cpython-310.pyc
/.vscode
/tempJson
/legacyFiles
/bulkResults
/.DS_Store
/mysql/node_modules
/mysql/package-lock.json
/msgIO

# copy pasted from react auto .gitignore

# dependencies
/react/social-credit-app/node_modules
/react/social-credit-app/.pnp
.pnp.js

# testing
/react/social-credit-app/coverage

# production
/react/social-credit-app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*